<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Link to your CSS file -->
    <title>Men's Jewelry</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to Men's Jewelry</h1>
            <p>Discover stylish jewelry for men</p>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/rings">Rings</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Featured Products</h2>
        <div class="product">
            <img src="/static/images/product1.jpeg" alt="Product 1" class="square-image">
            <h2>Product 1</h2>
            <p>Description of Product 1.</p>
            <p>Price: $99.99</p>
            <button>Add to Cart</button>
        </div>

        <div class="product">
            <img src="image2.jpg" alt="Product 2">
            <h2>Product 2</h2>
            <p>Description of Product 2.</p>
            <p>Price: $79.99</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2023 Men's Jewelry</p>
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a></p>
        </div>
    </footer>
</body>
</html>
